name: Build and Deploy Backend - Pgapi

on:
  push:
    branches:
      - main
    paths:
      - 'PG_Backend/**'
      - '.github/workflows/main_pgapi.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: dotnet publish
        run: dotnet publish PG_Backend/PG_Backend.csproj -c Release -o ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-app
          path: ./publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-app
          path: ./webapp
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A379B5BC31B64E29B131B5EE1BD0F449 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2FA787E33B0A4B79BC9101A7F7BB52AE }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6092C9D3F9C34BF18A7A79E799A3EE15 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Pgapi'
          package: ./webapp
